<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   	 自定义映射目录测试!<br>
    <img alt="映射目录中都存在，但是图片信息不一样" src="http://localhost:8080/1.png"><br>
    <img alt="static下" src="http://127.0.0.1:8080/static1.png"><br>
    <img alt="resources下" src="resources1.png"><br>
    <img alt="public下" src="/public1.png"><br>
    <!-- <img alt="META-INF下" src="${rc.contextPath}/meta_inf_resources1.png"><br> -->
    <img alt="META-INF下" src="/meta_inf_resources1.png"><br>
</body>
</html>